body
{   
    margin:0;
    font-family: kanit;
    
}


.navbar
{
    background-color:rgb(255, 197, 1) ;
    display: flex;
    justify-content:space-evenly;
    min-height: 4rem;
    box-sizing: content-box;
}

nav
{
    position: sticky;
    top: 0;
}

.logo
{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.logo img
{
    display: block;
}
.logo:hover
{
    cursor: pointer;
}

.navbar-links
{
    display: flex;
    justify-content: space-evenly;
}

.links
{
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   padding: 0 1.25rem;
   
}

.search-login
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#search-logo:hover
{
   cursor: pointer;
}

.links:hover #caret
{
    transform: scaleY(-1);
}
.links
{
  border-bottom: 0.4rem solid transparent;
  border-top: 0.4rem solid transparent;
  position: relative;

}

.dropdown
{
    position: absolute;
    top:calc(100% + 0.4rem);
    left:0;
    background-color: #ffff;
    padding:1.5rem;
    box-sizing: content-box;
    padding-top: 0.7rem;
    display: none;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.12);;
}

.dropdownlinks
{
    padding: 0.7rem;
    width: 13rem;
    box-sizing: content-box;
    border-radius: 5px;
    font-weight: 300;
    font-size: 14pt;
}

.dropdownlinks:hover
{
    background-color: #e5e8e8;
    cursor: pointer;
}

.links:hover
{
    border-bottom: 0.4rem solid rgb(0, 64, 87);
    border-top: 0.4rem solid transparent;
    cursor: pointer;
}

.links:hover .dropdown
{
    display: block;
}

#sign-btn
{
    border: none;
    padding: 0.55rem 1.4rem;
    border-radius:0.35rem;
    font-weight: 600;
}
#sign-btn:hover
{
    outline:1px solid rgb(130, 130, 130);
    cursor: pointer;
    box-sizing: content-box;
}

.trending-bar p
{
    margin: 0;
    font-weight: 600;
}


.trending-list
{
    padding-left: 0;
    display: flex;
    margin: 0;
    list-style: none;
}

.trending-bar
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 5.5rem;
    background-color: rgb(249, 236, 217);
    font-weight: 380;
    font-size:10.5pt;
}

.trending-list-items:hover
{
    color: rgb(200, 18, 0);
    cursor: pointer;
}

.trending-list-items
{
    transition: color 0.35s ease;
    padding: 0 0.22rem;
}
.trending-list-items::before
{
    content:"| ";
    padding:0 0.3rem;
    font-weight: 200;
    color: rgb(204, 209, 210);
}

.vertical-line
{
   width: 1px;
   background-color: #e5e8e8;
   margin: 0 3.5rem;
}

.hero-section
{
    display: flex;
    justify-content: space-evenly;
}

.main-blog 
{
    width:55%;
    border-radius: 10px;
    padding-bottom: 0.4rem;
}

.main-blog h2
{
    margin: 0;
    margin-left: 1%;
}

.main-blog:hover
{
    background-color:  #e5e8e8;
}



.main-blog p
{
    margin: 0;
    margin-left: 1%;
    color: #667577;
    font-weight: 300;
    font-size: 15pt;
}

.main-blog img
{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.main-container
{
    margin-top: 3rem;
    padding: 0 4.5rem;
}

.blog-card
{
    display: flex;
    justify-content: space-between;
    width: 85%;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #e5e8e8;

}

.blog-card:hover
{
    background-color: #e5e8e8;
}

.sideblogs
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
}
.blog-image img
{
    border-radius: 14px;
    object-fit:cover; 
    aspect-ratio: 124/70;
    width:100%;
    height: auto;   
   
}

.side-blog-text
{
    font-size: 15pt;
    font-weight: 600;
    margin: 0;
}

.side-blog-author-since
{
    margin: 0;
    color: #667577;
    font-weight: 300;
    font-size: 11pt;

}

.blog-head
{
    
}
.blog-image
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: auto;
}